<nav class="navbar fixed-bottom  navbar-expand-lg navbar-dark navbar-custom text-center py-3">
    <div class="footer-text">
        © 2020 Copyright:<a href="https://github.com/NizarMrad/The-Kit-Cat-Shop"> The Dream Team</a>
    </div>
</nav>